*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: Gilroy;
}
html,body{
height: 100%;
width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    padding: 0px 60px;
    padding-bottom: 60px;
}
#nav{
    height: 100px;
    width: 100%;
    /* background-color: darkcyan; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#left-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#left-nav i{
    font-size: 25px;
}
#left-nav h5{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}
#right-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
#right-nav h4{
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;

}
#right-nav h4:nth-child(4){
    background-color: black;
    color: white;
    padding: 13px 30px ;
    border-radius: 20px;
}
#right-nav #contact{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#right-nav #contact i{
    font-size: 25px;

}
#contact #num{
    font-size: 17px;
    text-transform: capitalize;
}
#img{
    height: calc(100% - 100px - 20px);
    border-radius: 70px;
    background-color: red;
    background-image: url(https://images.unsplash.com/photo-1478118330274-ff72cf1161a7?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fG1vZGVsJTIwZ2lybCUyMGxhbmRzY2FwZXxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-position: center;
}
#overlay{
    height: 100%;
    width: 100%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    gap: 150px;
    align-items: center;
    justify-content: flex-end ;
}

#btn button{
    padding: 10px 50px ;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 20px;

}
#brands{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#brands .logo{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.logo img{
    border: 2px solid black;
    background-color: white;
    height: 70px;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: -100px;
    margin-right: 100px;
}